/* Layout and spacing */

footer { background: $grey; padding-top: 40px;
	.footer-nav { font-size: .9em;
		li { padding-bottom: 10px; }
		a { color: $brown-five; }
	}
	.copyright { color: $brown-five; font-size: .7em; padding-top: 30px; }
}