/* Navigation */

.mini-links { 
	li { padding-right: 10px; display: inline-block; border-right: 1px solid $text-primary; line-height: .7em;
		&:last-child { border-right: none; padding: 0 0 0 8px; }
	}
	a { font-size: .8em; color: $text-primary;
		&:hover { color: $primary-red; }
	}
}

.social { position: absolute; right: 20px; top: 20px;
	li { display: inline-block; font-size: 1.25em; padding-right: 5px; }
	a { color: $text-primary;
		&:hover { color: $primary-red; }
	}
}

nav { 
	a { color: $text-primary; 
		&:hover { color: $primary-red; }
	}
	.main-nav { font-size: 1.7em; font-weight: 100; margin-top: 240px;
		li { padding-bottom: 30px; 
			&:last-child { padding-bottom: 0; }
		}
	}
}

.rowtest { height: auto; }