/* Colours */

$primary-red:			#d71921;
$secondary-red:			#981b1e;
$brown-one:				#b3aa94;
$brown-two:				#c9c3b4;
$brown-three:			#dcd7cd;
$brown-four:			#f0eeea;
$brown-five:			#f9f8f7;
$grey:					#505050;
$grey-two:				#616161;

$text-primary:			#333;
$text-secondary:		#b3aa94;
$text-inverted:			#f7f6f4;


/* Font settings */

body { font-family: 'Open Sans', sans-serif; font-weight: 300; font-size:100%; line-height:1.125em; }
a { text-decoration: none; color: $primary-red; 
	&:hover { color: $secondary-red; }
}

/* Hover fades */

a, input { -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s; }